* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, 'Courier New', Courier, monospace;
}

button {
    background-color: #3882F6;
    padding: 12px 32px;
    width: fit-content;
    border-radius: 8px;
    border: none;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 16px;
}

/* HEADER CSS */

header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
}

header ul {
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    align-items: center;
    gap: 48px;
}

header ul,
header a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-left: 10%;
    margin-right: auto;
    font-size: 32px;
    font-weight: 700;
}

/* MAIN SECTION STYLES */

h1 {
    font-size: 72px;
    font-weight: 900;
    color: #F9FAF8;
}

.main {
    display: flex;
    padding: 128px 10%;
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 32px;
}

.main-left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    max-width: 50%;
    gap: 8px;
    justify-content: space-between;
}

.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex: 1;
}