* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: roboto, 'Courier New', Courier, monospace;
}

button {
    background-color: #3882F6;
    padding: 12px 32px;
    width: fit-content;
    border-radius: 8px;
    border: none;
    color: #E5E7EB;
    font-weight: 700;
    font-size: 18px;
}

/* HEADER CSS */

header {
    display: flex;
    background-color: #1F2937;
    color: #E5E7EB;
    padding: 16px;
}

header ul {
    display: flex;
    margin-left: auto;
    margin-right: 10%;
    align-items: center;
    gap: 48px;
}

header ul,
header a {
    list-style-type: none;
    text-decoration: none;
    color: inherit;
}

.logo {
    margin-left: 10%;
    margin-right: auto;
    font-size: 32px;
    font-weight: 700;
}

/* MAIN SECTION STYLES */

h1 {
    font-size: 72px;
    font-weight: 900;
    color: #F9FAF8;
}

.main {
    display: flex;
    padding: 128px 10%;
    background-color: #1F2937;
    color: #E5E7EB;
    gap: 32px;
}

.main-left {
    display: flex;
    flex-direction: column;
    margin-right: auto;
    max-width: 50%;
    gap: 16px;
    justify-content: space-between;
}

.main-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    flex: 1;
}

/* INFO STYLES */

.info {
    display: flex;
    flex-direction: column;
    padding: 64px 10%;
    gap: 64px;
}

.info > p {
    font-weight: 900;
    font-size: 36px;
    color: #1F2937;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-cards {
    display: flex;
    justify-content: center;
    gap: 64px;
}

.card {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
}

.card > p {
    max-width: 256px;
    color: #5f6063;
    font-size: 18px;
    text-align: center;
}

.card > img {
    border: 5px solid rgb(112, 112, 247);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    max-width: 216px;
}

/* QUOTE CSS */

.quote-container {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 124px 20%;
    font-size: 36PX;
    font-weight: lighter;
    color: #1F2937;
    font-style: italic;
}

.quote-author {
    font-style: normal;
    margin-left: auto;
    font-weight: 700;
}

/* FINAL CSS */

.final {
    display: flex;
    margin: 124px 15%;
    background-color: #3882F6;
    padding: 64px 192px;
    border-radius: 12px;
    color: #E5E7EB;
}

.final-left {
    display: flex;
    flex-direction: column;
    flex: 2;
    gap: 8px;
}

.final-bigger-p {
    font-weight: 700;
    font-size: 24px;
}

.final-button {
    border: 2px solid #E5E7EB;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    background-color: #1F2937;
    color: #E5E7EB;
}

footer a {
    text-decoration: none;
    color: #E5E7EB;
    margin: 0 8px 0 8px;
}